streamlit>=1.34
streamlit_authenticator==0.2.2     # фиксируем
tensorflow==2.15.0           # CPU-версия, Cloud её тянет
faiss-cpu==1.8.0             # обязательно *faiss-cpu*, а не faiss
pillow
numpy
scikit-learn
inference_sdk
requests
opencv-python-headless==4.9.0.80   # вместо opencv-python или зависимости по умолчанию