streamlit==1.33.0
streamlit-authenticator==0.2.2
tensorflow==2.15.0
Pillow==10.2.0
numpy==1.24.3
scikit-learn==1.3.2
requests==2.31.0
inference==1.4.2
git+https://github.com/facebookresearch/faiss.git@v1.7.4#egg=faiss-cpu
